/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.introductory__heading {
  font-family: "Poppins", sans-serif;
  color: hsl(192deg, 100%, 9%);
  margin-block-end: 2rem;
}
@media (min-width: 1440px) {
  .introductory__heading {
    font-size: 2.5rem;
  }
}
.introductory__text {
  font-family: "Open Sans", sans-serif;
  color: hsl(192deg, 100%, 9%);
}
@media (min-width: 1440px) {
  .introductory__text {
    font-size: 1.125rem;
  }
}

.huddle__main--heading {
  font-family: "Poppins", sans-serif;
  color: hsl(192deg, 100%, 9%);
  margin-block-end: 1.25rem;
}
@media (min-width: 1440px) {
  .huddle__main--heading {
    font-size: 1.75rem;
  }
}
.huddle__main--text {
  font-family: "Open Sans", sans-serif;
  color: hsl(208deg, 11%, 55%);
}
@media (min-width: 1440px) {
  .huddle__main--text {
    font-size: 1.125rem;
  }
}

.cta h2 {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  color: hsl(192deg, 100%, 9%);
}
@media (min-width: 900px) {
  .cta h2 {
    font-size: 2rem;
  }
}

.huddle__introductory {
  background-image: url("../../images/bg-hero-mobile.svg");
  background-color: hsl(193deg, 100%, 96%);
  background-repeat: no-repeat;
  background-position: center;
  padding-block-end: 2rem;
}
@media (min-width: 900px) {
  .huddle__introductory {
    background-image: url("../../images/bg-hero-desktop.svg");
  }
}
@media (min-width: 1440px) {
  .huddle__introductory {
    padding-block-end: 5rem;
  }
}

.huddle__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 2rem;
  margin-inline: auto;
  margin-block-end: 5rem;
  width: 90%;
  max-width: 150rem;
}
@media (min-width: 1440px) {
  .huddle__header {
    padding-block-start: 3rem;
  }
}

.header__logo {
  width: 8rem;
}
@media (min-width: 900px) {
  .header__logo {
    width: 12rem;
  }
}

.header__btn {
  text-decoration: none;
  border-radius: 100px;
  font-size: 0.85rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(192deg, 100%, 9%);
  font-family: "Open Sans", sans-serif;
  padding-inline: 1.5rem;
  font-weight: 600;
  padding-block: 0.35rem;
}
@media (min-width: 900px) {
  .header__btn {
    font-size: 1.125rem;
    padding-block: 1rem;
    padding-inline: 5rem;
  }
}
.header__btn:link {
  color: hsl(192deg, 100%, 9%);
}
.header__btn:active {
  color: hsl(192deg, 100%, 9%);
}
.header__btn:visited {
  color: hsl(192deg, 100%, 9%);
}
.header__btn:hover {
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.2);
  color: hsl(208deg, 11%, 55%);
}

.introductory__section {
  width: 90%;
  max-width: 150rem;
  margin-inline: auto;
  text-align: center;
}
@media (min-width: 900px) {
  .introductory__section {
    text-align: start;
  }
}

.introductory__btn--container {
  margin-block-start: 3rem;
  margin-block: 3rem;
}

@media (min-width: 900px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
}

.introductory__content {
  padding-inline: 1rem;
}
@media (min-width: 900px) {
  .introductory__content {
    align-self: center;
    width: 48%;
  }
}
@media (min-width: 1440px) {
  .introductory__content {
    align-self: center;
    width: 40%;
    padding-inline: 0;
  }
}

@media (min-width: 900px) {
  .introductory__illustration--container {
    width: 50%;
  }
}

.huddle__main {
  width: 90%;
  max-width: 90rem;
  margin-inline: auto;
  padding-block-start: 5rem;
}
@media (min-width: 1440px) {
  .huddle__main {
    padding-block-start: 15rem;
  }
}
.huddle__main--section {
  border-radius: 16px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
}
.huddle__main--section:not(.huddle__main--section:last-child) {
  margin-block-end: 3rem;
}
.huddle__main--row {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-block: 3rem;
  text-align: center;
  width: 85%;
  max-width: 120rem;
  margin-inline: auto;
}
@media (min-width: 900px) {
  .huddle__main--row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }
}
@media (min-width: 900px) {
  .huddle__main--row__flip {
    flex-direction: row-reverse;
  }
}
.huddle__main--content {
  order: 1;
}
@media (min-width: 900px) {
  .huddle__main--content {
    order: 0;
  }
}
@media (min-width: 1440px) {
  .huddle__main--content {
    width: 40%;
  }
}
@media (min-width: 1440px) {
  .huddle__main--img {
    width: 40%;
  }
}

.pd-inline-sm {
  padding-inline: 1rem;
}
@media (min-width: 900px) {
  .pd-inline-sm {
    padding-inline: 0;
  }
}

.cta {
  border-radius: 18px;
  text-align: center;
  padding-block: 3rem;
  padding-inline: 1rem;
  transform: translateY(80px);
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 50rem;
  margin-inline: auto;
}
@media (min-width: 900px) {
  .cta {
    padding-block: 4rem;
  }
}
.cta__get-started__btn--container {
  margin-block-start: 2rem;
}
@media (min-width: 1440px) {
  .cta__get-started__btn--container {
    margin-block-start: 3rem;
  }
}

.footer {
  background-color: hsl(192deg, 100%, 9%);
  padding-block-start: 10rem;
  padding-block-end: 3rem;
  color: #fff;
}
.footer__container {
  width: 90%;
  max-width: 120rem;
  margin-inline: auto;
}
@media (min-width: 1440px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.footer__logo {
  width: 50%;
  max-width: 10rem;
  margin-block-end: 1rem;
}
@media (min-width: 1440px) {
  .footer__logo {
    grid-area: 1/span 4;
  }
}
@media (min-width: 1440px) {
  .footer__row {
    grid-area: 2/span 4;
    display: flex;
    gap: 10rem;
  }
}
@media (min-width: 1440px) {
  .footer__row > div {
    flex: 1;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block-end: 3rem;
}
@media (min-width: 1440px) {
  .footer__contact {
    margin-block-end: 0;
  }
}
.footer__contact--location {
  align-self: baseline;
  margin-block-start: 0.3rem;
}
.footer__contact--list-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer__contact--list-item p {
  font-family: "Open Sans", sans-serif;
}
.footer__site-map {
  margin-block-end: 5rem;
}
@media (min-width: 1440px) {
  .footer__site-map {
    margin-block-end: 0;
  }
}
@media (min-width: 1440px) {
  .footer__site-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
.footer__site-map a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1.125rem;
}
.footer__site-map a:link {
  color: #fff;
}
.footer__site-map a:active {
  color: #fff;
}
.footer__site-map a:visited {
  color: #fff;
}
.footer__site-map a:hover {
  text-decoration: underline;
}
.footer__site-map--col li:not(.footer__site-map--col:last-child) {
  margin-block-end: 1rem;
}
.footer__copyright {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
}
@media (min-width: 1440px) {
  .footer__copyright {
    margin-top: auto;
  }
}

@media (min-width: 1440px) {
  .footer__col--3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.get-started__btn {
  text-decoration: none;
  border-radius: 100px;
  font-size: 0.85rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  background-color: hsl(322deg, 100%, 66%);
  padding-inline: 3rem;
  padding-block: 0.7rem;
  color: #fff;
  font-weight: 600;
}
@media (min-width: 900px) {
  .get-started__btn {
    font-size: 1.125rem;
    padding-block: 1.25rem;
    padding-inline: 5rem;
  }
}
.get-started__btn:hover {
  background-color: #ff9edb;
}

.cta__get-started__btn {
  padding-block: 1rem;
  padding-inline: 3rem;
}
@media (min-width: 900px) {
  .cta__get-started__btn {
    font-size: 1.125rem;
    padding-block: 1.25rem;
    padding-inline: 5rem;
  }
}

.footer__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block-end: 2rem;
}
.footer__social-media--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100px;
}
.footer__social-media--link:hover {
  border-color: hsl(322deg, 100%, 66%);
}
.footer__social-media--link:hover svg {
  fill: hsl(322deg, 100%, 66%);
}
.footer__social-media--link svg {
  fill: #fff;
  width: 1.25rem;
  height: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
