@use '../abstracts' as *;

.cta {
  border-radius: 18px;
  text-align: center;
  padding-block: 3rem;
  padding-inline: 1rem;
  transform: translateY(80px);
  background-color: #fff;
  box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.1);

  &__get-started__btn--container {
    margin-block-start: 2rem;
  }
}
