@use '../abstracts/' as *;

.footer {
  background-color: $neutral-color-2;
  padding-block-start: 10rem;
  padding-block-end: 3rem;

  color: #fff;

  &__container {
    width: 90%;
    max-width: 120rem;
    margin-inline: auto;

    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__logo {
    width: 50%;
    max-width: 10rem;
    margin-block-end: 1rem;

    @media (min-width: 1440px) {
      grid-area: 1 / span 4;
    }
  }

  &__row {
    @media (min-width: 1440px) {
      grid-area: 2 / span 4;
      display: flex;
      gap: 10rem;
    }

    & > div {
      @media (min-width: 1440px) {
        flex: 1;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-end: 3rem;

    @media (min-width: 1440px) {
      margin-block-end: 0;
    }

    &--location {
      align-self: baseline;
      margin-block-start: 0.3rem;
    }

    &--list-item {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      p {
        font-family: $ff-body-cta;
      }
    }
  }

  &__site-map {
    margin-block-end: 5rem;

    @media (min-width: 1440px) {
      margin-block-end: 0;
    }

    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    a {
      text-decoration: none;
      font-family: $ff-body-cta;
      color: #fff;
      font-size: $fs-body;

      &:link {
        color: #fff;
      }

      &:active {
        color: #fff;
      }

      &:visited {
        color: #fff;
      }
    }

    &--col {
      & li:not(&:last-child) {
        margin-block-end: 1rem;
      }
    }
  }

  &__copyright {
    font-family: $ff-headings;
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;

    @media (min-width: 1440px) {
      margin-top: auto;
    }
  }
}

.footer__col--3 {
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
