@use '../abstracts/' as *;

.huddle__introductory {
  background-image: url('../../images/bg-hero-mobile.svg');
  background-color: $neutral-color-1;
  background-repeat: no-repeat;
  background-position: center;
  padding-block-end: 2rem;

  @media (min-width: 900px) {
    background-image: url('../../images/bg-hero-desktop.svg');
  }
}

.huddle__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 1.25rem;
  margin-inline: auto;
  margin-block-end: 5rem;
  width: 90%;
  max-width: 150rem;
}

.header__logo {
  width: 8rem;
}

.header__btn {
  @include default-btn;
  background-color: #fff;
  color: $neutral-color-2;
  font-family: $ff-body-cta;
  padding-inline: 1.5rem;
  font-weight: $fw-600;
  padding-block: 0.35rem;

  &:link {
    color: $neutral-color-2;
  }

  &:active {
    color: $neutral-color-2;
  }

  &:visited {
    color: $neutral-color-2;
  }
}
