@use '../abstracts/' as *;

.introductory__section {
  width: 80%;
  max-width: 70rem;
  margin-inline: auto;
  text-align: center;
}

.introductory__btn--container {
  margin-block-start: 3rem;
  margin-block-end: 3rem;
}
