@use '../abstracts/' as *;

.introductory__section {
  width: 90%;
  max-width: 150rem;

  margin-inline: auto;
  text-align: center;

  @media (min-width: 900px) {
    text-align: start;
  }
}

.introductory__btn--container {
  margin-block-start: 3rem;
  margin-block-end: 3rem;
}

.row {
  @media (min-width: 900px) {
    display: flex;
    justify-content: space-between;
  }
}

.introductory__content {
  padding-inline: 1rem;

  @media (min-width: 900px) {
    align-self: center;
    width: 43%;
  }

  @media (min-width: 1440px) {
    align-self: center;
    width: 40%;
    padding-inline: 0;
  }
}
.introductory__illustration--container {
  @media (min-width: 900px) {
    width: 50%;
  }
}
