@use '../abstracts' as *;

.huddle__main {
  width: 90%;
  max-width: 90rem;
  margin-inline: auto;
  padding-block-start: 5rem;

  @media (min-width: 1440px) {
    padding-block-start: 10rem;
  }

  &--section {
    // border: 1px solid red;
    border-radius: 16px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    &:not(&:last-child) {
      margin-block-end: 3rem;
    }
  }

  &--row {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 3rem;
    text-align: center;
    width: 85%;
    max-width: 120rem;
    margin-inline: auto;

    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: start;
    }

    &__flip {
      @media (min-width: 900px) {
        flex-direction: row-reverse;
      }
    }
  }

  &--content {
    order: 1;

    @media (min-width: 900px) {
      order: 0;
    }

    @media (min-width: 1440px) {
      width: 40%;
    }
  }

  &--img {
    @media (min-width: 1440px) {
      width: 40%;
    }
  }
}

.pd-inline-sm {
  padding-inline: 1rem;

  @media (min-width: 900px) {
    padding-inline: 0;
  }
}
