@use '../abstracts/' as *;

.get-started__btn {
  @include default-btn;
  background-color: $primary-color-1;
  padding-inline: 3rem;
  padding-block: 0.7rem;
  color: #fff;
  font-weight: $fw-600;
  font-size: 0.85rem;
}

.footer__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &--link {
    width: 1rem;
    height: auto;
    border: 1px solid #fff;
    border-radius: 100px;
    padding-block: 0.25rem;

    svg {
      fill: #fff;
    }
  }
}
