@use '../abstracts' as *;

.introductory {
  &__heading {
    font-family: $ff-headings;
    color: $neutral-color-2;
    margin-block-end: 2rem;

    @media (min-width: 1440px) {
      font-size: 2.5rem;
    }
  }

  &__text {
    font-family: $ff-body-cta;
    color: $neutral-color-2;

    @media (min-width: 1440px) {
      font-size: $fs-body;
    }
  }
}

.huddle__main {
  &--heading {
    font-family: $ff-headings;
    color: $neutral-color-2;
    margin-block-end: 1.25rem;
  }

  &--text {
    font-family: $ff-body-cta;
    color: $neutral-color-3;
  }
}

.cta {
  h2 {
    font-size: $fs-body;
    font-family: $ff-body-cta;
    color: $neutral-color-2;
  }
}
