@use '../abstracts' as *;

.introductory {
  &__heading {
    font-family: $ff-headings;
    color: $neutral-color-2;
    margin-block-end: 2rem;
  }

  &__text {
    font-family: $ff-body-cta;
    color: $neutral-color-2;
  }
}

.huddle__main {
  &--heading {
    font-family: $ff-headings;
    color: $neutral-color-2;
    margin-block-end: 1.25rem;
  }

  &--text {
    font-family: $ff-body-cta;
    color: $neutral-color-3;
  }
}
